<div class="top-controls">
  <mat-chip-list>
    <mat-chip color="primary" selected>Clientes</mat-chip>
  </mat-chip-list>
  <button routerLink="/clientes/nuevo" mat-raised-button color="accent">
    <mat-icon>add</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="clientes$" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> nombre</th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="razonSocial">
    <th mat-header-cell *matHeaderCellDef> razonSocial</th>
    <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
  </ng-container>


  <ng-container matColumnDef="rut">
    <th mat-header-cell *matHeaderCellDef> RUT</th>
    <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono</th>
    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="domicilio">
    <th mat-header-cell *matHeaderCellDef>Domicilio</th>
    <td mat-cell *matCellDef="let element"> {{element.domicilio}} </td>
  </ng-container>

  <ng-container matColumnDef="vehiculos">
    <th mat-header-cell *matHeaderCellDef>Vehiculos</th>
    <td mat-cell *matCellDef="let element">
      <span class="clickeable" routerLink="/vehiculos/{{vehiculo.id}}" *ngFor="let vehiculo of element.vehiculos"> [{{vehiculo.matricula}}] </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef>Operaciones</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="remove(element)" mat-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button routerLink="/clientes/{{element.id}}" mat-button>
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
