<form (ngSubmit)="onSubmit()">
  <label for="nombre">Nombre</label>
  <input required name="nombre" type="text" id="nombre" [(ngModel)]="sala.nombre"><br/>

  <label for="capacidad">Capacidad</label>
  <input name="capacidad" type="text" id="capacidad" [(ngModel)]="sala.capacidad"><br/>

  <label for="sectores">Sectores</label>
  <select multiple [compareWith]="comparador" [(ngModel)]="sala.sectores" name="sectores" id="sectores">
    <option *ngFor="let sector of sectores$ | async" [ngValue]="sector">{{sector.nombre}}</option>
  </select>
  <input value="Enviar" type="submit"/>
</form>
