<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Se necesita confirmar la acción</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{message}}
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="busy" (click)="confirm()" color="primary" mat-raised-button>
      <mat-icon *ngIf="busy">
        <mat-spinner color="accent" diameter="20">
        </mat-spinner>
      </mat-icon>
      {{busy ? 'Eliminando' : 'Eliminar'}}
    </button>
    <button (click)="cancel()" mat-button>Cancelar</button>
  </mat-card-actions>
</mat-card>
