<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button routerLink="/vehiculos" mat-button>Vehiculos</button>
  </mat-toolbar-row>
</mat-toolbar>


<!--<mat-menu #menuClientes="matMenu">-->
<!--  <button routerLink="clientes" mat-menu-item>Todos los Clientes</button>-->
<!--  <button routerLink="clientes/nuevo" mat-menu-item>Nuevo Cliente</button>-->
<!--</mat-menu>-->

<!--<mat-menu #menuVehiculos="matMenu">-->
<!--  <button routerLink="vehiculos" mat-menu-item>Todos los Vehiculos</button>-->
<!--  <button routerLink="vehiculos/nuevo" mat-menu-item>Nuevo Vehiculo</button>-->
<!--</mat-menu>-->


