<ng-container *ngIf="entity">
  <mat-chip-list>
    <mat-chip routerLink="/vehiculos" color="primary" selected>Vehículos</mat-chip>
    <mat-chip color="primary" *ngIf="!entity.id" selected>Nuevo</mat-chip>
    <mat-chip color="primary" *ngIf="entity.id" selected># {{entity.id}}</mat-chip>
  </mat-chip-list>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Vehículo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input [disabled]="!enabled" [(ngModel)]="entity.matricula" matInput name="matricula" placeholder="Matrícula">
      </mat-form-field>
      <mat-form-field>
        <input [disabled]="!enabled" [(ngModel)]="entity.tipo" matInput name="tipo" placeholder="Tipo">
      </mat-form-field>
      <mat-form-field>
        <textarea [disabled]="!enabled" [(ngModel)]="entity.descripcion" matInput name="descripcion"
                  placeholder="Descripción"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <mat-slide-toggle [(ngModel)]="enabled">{{ enabled ? 'Desbloqueado' : 'Bloqueado' }}</mat-slide-toggle>
      <button [disabled]="busy" *ngIf="enabled" (click)="save()" color="primary" mat-raised-button>
        <mat-icon *ngIf="busy">
          <mat-spinner color="accent" diameter="20">
          </mat-spinner>
        </mat-icon>
        {{busy ? 'Guardando' : 'Guardar'}}
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>

